.product-view {
  width: 580px;
  display: inline-block;
}

@media (max-width: 1300px) {
  .product-view {
    display: block;
    margin: 0 auto;
  }
}

.product-footer {
  margin-top: 10px;
  text-align: center;
}

.product-footer button {
  margin: 0 10px;
}

.content.stickers {
  display: inline-block;
  vertical-align: top;
  width: 584px;
  background: #edeff1;
  padding: 24px 23px 20px;
  border-radius: 6px;
}

@media (max-width: 1300px) {
  .content.stickers {
    display: block;
    margin: 30px auto;
  }
}

.stickers-search {
  width: 100%;
}

.stickers-search input{
  padding: 8px 12px;
  border-radius: 6px;
  line-height: 1.467;
  color: #34495e;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  background: #fff;
  height: 100%;
  width: 100%;
  outline: 0;
  border: 2px solid #bdc3c7;
}

.stickers-search input:focus {
  border-color: #1abc9c;
}

.sticker-list-container {
  margin: 20px 0;
}

.sticker-line {
  display: inline-block;
  text-align: center;
  border: 1px solid #f2f2f2;
  width: 33.33%;
}
