.sticker {
  min-width: 118px;
  border-radius: 6px;
  background: #fff;
  margin: 2px;
  padding: 10px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image {
  height: 101px;
  max-width: 100%;
}
