.container {
   position: fixed;
   text-align: center;
   bottom: 0;
   height: 40px;
   width: 100%;
   background: #1abc9c;
}

.link {
  color: #fff;
}

.text {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.image {
  padding: 8px 10px;
}
