.container {
   text-align: center;
   background: #1abc9c;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 45px;
   width: 100%;
}

.link {
  color: #fff;
  text-decoration: none;
  background: #1abc9c;
  width: 100%;
  float: left;
  padding: 10px 0;
}

.text {
  vertical-align: middle;
  line-height: 25px;
}

.image {
  vertical-align: middle;
  margin-left: 10px;
}
