.container.container-product {
  min-width: 790px;
  margin-bottom: 115px;
}

.product-view .product-img {
  text-align: center;
  position: relative;
  width: 550px;
  margin: 0 auto;
}

.product-view .product-img > img {
  width: 100%;
}

.stickers {
  padding: 0 42px;
}

.stickers:after {
  content: "";
  display: table;
  clear: both;
}

.share {
  position: absolute;
  bottom: 0;
  right: 0;
}

.share a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #cccccc;
  padding: 6px 2px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}

.share a:hover {
  background: #000;
}

.share .icon {
  color: #fff;
  position: relative;
  top: -2px;
}

.share span {
  font-size: 15px;
  text-transform: uppercase;
  padding-right: 10px;
}

.link-secondary {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  text-decoration: underline;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 8px 12px 6px;
  font-size: 15px;
}

.link-secondary:hover {
  background: #ebebeb;
}

.pagination-button {
  background: transparent;
  width: 50%;
  border: 1px solid #f2f2f2;
  height: 30px;
  cursor: pointer;
}
