.default {
  background: transparent;
  border: 0;
  display: block;
  cursor: ns-resize;
  position: absolute;
  top: -8px;
  right: -16px;
}

.active {
  composes: default;
  display: block;
}

.button {
  width: 16px;
  height: 16px;
  display: block;
  transform: rotate(180deg);
}
