.listItem {
  display: block;
  float: left;
  position: relative;
  line-height: 1.6;
}

.link {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  padding: 12px 20px;
  line-height: 42px;
  text-decoration: none;
}

.active {
  composes: link;
  background-color: #2f4154;
}
