.navbar {
  height: 42px;
  background: #1abc9c;
  width: 100%;
  line-height: normal;
}

.list {
  margin: 0;
  padding: 0;
  float: left;
}

.brand {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  float: left;
  margin-right: 20px;
}

@media (max-width: 750px) {
  .brand {
    display: none;
  }
}
