.draggable-sticker {
  border: 2px solid transparent;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.draggable-sticker.draggable-selected {
  border: 1px dashed #B3AFAF;
  display: inline-block;
  z-index: 999;
}

.draggable-sticker.draggable-selected img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: -1px;
  margin-right: -1px;
  -webkit-filter: drop-shadow(2px 8px 2px rgba(0, 0, 0, 0.5));
}

.draggable-selected .delete-button {
  top: -8px;
  left: -13px;
  height: 17px;
  width: 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: block;
  position: absolute;
}

.draggable-selected .delete-button span {
  background: #e70632;
  width: 14px;
  height: 14px;
  color: #fff;
  font-size: 8px;
  line-height: 14px;
  display: block;
  border-radius: 50%;
}
